<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zerock.mapper.ProductReplyMapper">
	
	<insert id="insert">
		insert into PRODUCT_REPLY (rno,bno,reply,replyer)
		values (seq_product_reply.nextval,#{bno},#{reply},#{replyer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.ProductReplyVO">
		select * from PRODUCT_REPLY where rno=#{rno}
	</select>
	 
	<delete id="delete">
		delete from PRODUCT_REPLY where rno=#{rno}
	</delete>
	
	<update id="update">
		update PRODUCT_REPLY 
		set reply=#{reply},updatedate=sysdate
		where rno=#{rno}
	</update>
	
	<select id="getListWithPaging" resultType="org.zerock.domain.ProductReplyVO">
	<![CDATA[
		select rno,bno,reply,replyer,replydate,updatedate
		from (
		    select 
		        rownum rn,bno,rno,reply,replyer,replyDate,updatedate
		    from PRODUCT_REPLY
		    where bno = #{bno}
		        and rno > 0
		        and rownum <= #{cri.pageNum} * #{cri.amount}
		) where rn > (#{cri.pageNum}-1) * #{cri.amount}
	]]>
	</select>
	
	<select id="getCountByBno" resultType="int">
		select count(rno) from PRODUCT_REPLY where bno=#{bno}
	</select>
	
</mapper>

